<div class="header-container">
  <!-- Left Section -->
  <div class="left-section">
    <div class="logo-section">
      <img src="assets/images/logo.png" alt="NIRA Logo" class="nira-logo" />
      <span class="app-title">{{ getPageTitle() }}</span>
    </div>
  </div>
  <div class="right-section">
    <!-- Right Section -->
    <div class="profile-container">
      <img
        src="assets/images/profile-image.png"
        alt="Profile Icon"
        class="profile-pic"
      />
      <div class="profile-role">{{ fetchRole }}</div>
      <div class="profile-pic" (click)="toggleDropdown()">
        <span class="profile-initials">{{ fetchName }}</span>
      </div>
    </div>

    <!-- Icons Section -->
    <div class="icons-container">
      <img
        src="assets/images/help-icon.png"
        alt="Help Icon"
        class="help-icon"
      />
      <img
        src="assets/images/logout-icon.png"
        alt="Logout Icon"
        class="logout-icon"
        (click)="logout()"
      />
    </div>
  </div>
</div>
