<div class="header-container">
  <h2>Application {{ view }} View - {{ formattedRole }} Level</h2>
  <div class="profile-icon" (click)="toggleDropdown()">
    <img src="assets/images/profile-image.png" alt="Profile Icon" class="profile-pic" />
    <!-- Dropdown menu -->
    <div *ngIf="isDropdownOpen" class="dropdown-menu">
      <p><strong>Name:</strong> Robin Mathew</p>
      <p><strong>Role:</strong> Supervisor</p>
      <button (click)="logout()" class="logout-btn">Logout</button>
    </div>
  </div>
</div>
