<div class="wrapper">
  <div class="header">
    <h1>Uganda National ID Application</h1>
    <h2 class="subHeading">Manual Verification System</h2>
  </div>
  <div class="form_wrapper">
    <h2 class="login-title">Officer Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="loginlogo">
        <img src="assets/images/logo.png" alt="Logo" />
      </div>
      
      <!-- Username Input -->
      <div class="form-field">
        <label for="username">User Id</label>
        <input
          id="username"
          type="text"
          placeholder="Enter User Id"
          name="username"
          [(ngModel)]="username"
          required
          class="form-control"
        />
      </div>
      
      <!-- Password Input -->
      <div class="form-field">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          placeholder="Enter Password"
          name="password"
          [(ngModel)]="password"
          required
          class="form-control"
        />
      </div>
      
      <!-- Submit Button -->
      <button class="submit-btn" type="submit">Login</button>
    </form>
  </div>
</div>
