<div class="wrapper">
  <div class="header">
    <h1>Uganda National ID Application</h1>
    <h2 class="subHeading">Manual Verification System</h2>
  </div>
  <div class="form_wrapper">
    <h2 class="login-title">Officer Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="loginlogo">
        <img src="assets/images/logo.png" alt="Logo" />
      </div>
      
      <!-- Username Input -->
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter your Email Address or Phone Number"
          name="username"
          [(ngModel)]="username"
          required
        />
      </mat-form-field>
      
      <!-- Password Input -->
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="password"
          required
        />
      </mat-form-field>
      
      <!-- Submit Button -->
      <button mat-raised-button class="submit-btn" type="submit">Login</button>
    </form>
  </div>
</div>
