<div class="container">
  
  <app-header [role]=role></app-header>

  <!-- Search Bar -->
  <div class="search-bar">
    <input 
      type="text" 
      [(ngModel)]="searchText" 
      placeholder="Search by Application ID" 
      class="search-input"
    />
  </div>

  <div class="application-list">
    <table class="styled-table">
      <thead>
        <tr>
          <th *ngFor="let field of fields">{{ field }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of filteredRows" (click)="onRowClick(row)">
          <td *ngFor="let field of fields">{{ row[field] }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>